*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/backgrouund.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containertop{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;

}


.back img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px; 
}

.log-in{
    color: white;
    font-size: 35px;
    flex-grow: 1;
    text-align: center;
}

.container_logo{
    width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 30px;
}

.container_logo img{
    width: 50px;
    height: 60px;
}

.inputs{
    margin-bottom: 20px; 
}

.input-login {
    display: flex;
    background: #FFFEFA; 
    margin: 30px;
    width: 300px;
    height: 30px;
    border-radius: 5px;  
}

.input-login input {
    border: none;/* Removes the border around the input field */
    outline: none; /* Removes the outline that appears when the input is focused */
    background: transparent; 
    font-size: 16px;
    margin-left: 30px;
    ma
}

.forgot-pass {
    margin-bottom: 150px;

}

.forgot-pass a {
    color: white;
    font-size: 14px;
    text-decoration: none; /* remove line */
}

.container_butn {
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to right, #a87df3, #6756d7);
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 40px;
    
  }

.NeedHelp{
    margin-top: 20px;
}
.NeedHelp a{
    color: black;
    font-size: 16px;
    text-decoration: none; /* remove line */
    font-weight: 500;
}